build
dist
deps
.venv
.tox
.coverage
MANIFEST
docs/_build

*.pyd
*.dll
*.a
*.so

*.egg-info

.vscode/*
!.vscode/settings.windows.template.json
!.vscode/tasks.json

.mypy_cache
.pytest_cache

pip-wheel-metadata

__pycache__

playground
